server:
  port: 8087
  servlet:
    context-path: '/ead-authuser/'
spring:
  datasource:
    url: jdbc:postgresql://authuser-db:5432/authuserdb
    username: userdb
    password: 123456
  jpa:
    hibernate:
      ddl-auto: validate
      dialect: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        show-sql: true
  flyway:
    enabled: true
    locations: classpath:authuser-db/migration